<div class="form-header">
  <h2 class="text-center p-3 mt-5">Portfolio Settings</h2>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="allocations">
        <h4 class="text-center border-bottom">Rebalancing</h4>
        <p>You current next rebalancing is due to take place on <%= @portfolio.next_rebalance_dt.strftime("%A  #{@portfolio.next_rebalance_dt.day.ordinalize} %B") %>.</p>
        <%= simple_form_for @portfolio, url: {action:"update"} do |f| %>
        <div class="mb-3 mt-3 text-center">
          <%= f.label :next_rebalance_dt, "Next Rebalance: " %>
          <%= f.date_select :next_rebalance_dt, order: [:day, :month, :year], selected: Date.today + 7 , :class => 'align-right w-100'%>
        </div>
        <div class="mb-3 mt-3 text-center">
          <%= f.label :rebalance_freq, "Frequency: " %>
          <%= f.input_field :rebalance_freq, label: 'Frequency', class: 'freq-input', collection: %w(Daily Weekly Biweekly Monthly Quarterly), selected: @portfolio.rebalance_freq,  prompt: "Choose Frequency"  %>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="allocations">
      <h4 class="text-center border-bottom">Allocations</h4>
      <p class="mb-0">Your current target allocations are below, please make any alterations and submit your changes. You can also reset to our recommended <strong><span class="index-btn">index</span></strong></p>
        <div class="buttons">
          <%= f.submit "Update", :class => 'btn trigger btn-success', id: "submit-alloc" %>
          <%= link_to "Cancel", portfolio_path(@portfolio), class:"trigger reset-btn btn btn-secondary"  %>
        </div>
        <br>
      <p id="shares">
        <span id="allocations"></span>
      </p>
      </div>
    </div>
  </div>
</div>
<div class="container mt-4 mb-4">
  <div id="alloc_chart"></div>
</div>
<%= render 'shared/allocations' %>
<% end %>


