<h1>Portfolios#new</h1>


<%= form_for @portfolio, url: {action:"create"} do |f| %>
  <%= f.text_field :rebalance_freq, placeholder: "Enter rebalance frequency" %>
  <%= f.date_field :next_rebalance_dt %>
  <%= f.text_field :coin_id, placeholder: "Enter BTC or USDT" %>
  <%= f.submit "Create" %>
<% end %>
