<div class="form-header">
  <h2 class="text-center p-3 mt-5">Portfolio Settings</h2>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="allocations helper1">
        <h4 class="text-center border-bottom">Rebalancing</h4>
        <p>Choose your next rebalancing date and frequency below</p>
        <%= simple_form_for @portfolio, url: {action:"create"} do |f| %>
        <div class="mb-3 mt-3 text-center">
          <%= f.label :next_rebalance_dt, "Next Rebalance: " %>
          <%= f.date_select :next_rebalance_dt, order: [:day, :month, :year], selected: Date.today + 7 , :class => 'align-right w-100'%>
        </div>
        <div class="mb-3 mt-3 text-center">
          <%= f.label :rebalance_freq, "Frequency: " %>
          <%= f.input_field :rebalance_freq, label: 'Frequency', class: 'freq-input', collection: %w(Daily Weekly Biweekly Monthly Quarterly), selected: "Weekly",  prompt: "Choose Frequency"  %>

        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="allocations helper3">
      <h4 class="text-center border-bottom">Allocations</h4>
      <p>These are the targets that you would like to hold of each coin. Your allocations must equal 100 before you can submit. If you would like to reset to our recommended index click <strong><span class="index-btn">here!</span></strong></p>
      <div class="buttons">
          <%= f.submit "Update", :class => 'btn trigger btn-success', id: "submit-alloc" %>
        </div>
        <br>
      <p id="shares">
        <span id="allocations"></span>
      </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div id="alloc_chart"></div>
</div>
<%= render 'shared/allocations' %>
<% end %>


