<div class="form-header">
  <h2 class="text-center p-3 mt-5">Portfolio Settings</h2>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="allocations helper1">
        <h4 class="text-center border-bottom">Rebalancing</h4>
        <p>Choose your next rebalancing date and frequency below</p>
        <%= simple_form_for @portfolio, url: {action:"create"} do |f| %>
        <div class="mb-3 mt-3 text-center">
          <%= f.label :next_rebalance_dt, "Next Rebalance: " %>
          <%= f.date_select :next_rebalance_dt, order: [:day, :month, :year], selected: Date.today + 7 , :class => 'align-right w-100'%>
        </div>
        <div class="mb-3 mt-3 text-center">
          <%= f.label :rebalance_freq, "Frequency: " %>
          <%= f.input_field :rebalance_freq, label: 'Frequency', class: 'freq-input', collection: %w(Daily Weekly Biweekly Monthly Quarterly), selected: @portfolio.rebalance_freq,  prompt: "Choose Frequency"  %>

        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="allocations helper3">
      <h4 class="text-center border-bottom">Allocations</h4>
      <p>You can add a total of 100 shares, choose how you would like to spread your coins or prefill with our recommended amounts</p>
      <span id="index-container"></span>
        <%= f.submit "Create", :class => 'btn trigger btn-success', id: "submit-alloc" %><br>
      <p id="shares">
        <span id="allocations"></span>
      </p>
      <span id="allocations"></span>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div id="alloc_chart"></div>
</div>
<%= render 'shared/allocations' %>
<% end %>


