
<!-- Header Component -->

<div class="header container-fluid border-bottom">
  <div class="row">
    <div class="col">
      <div class="price-container text-center justify-content-center">
        <button id="guide">Help?</button>
        <% price_btc = Coin.find_by(symbol: 'BTC').price_usdt %>
        <h5>Portfolio Value</h5>
        <span class="display-4"><%= number_to_currency(@portfolio.current_value_btc.to_f * price_btc) %></span>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <%= form_tag rebalance_positions_path(@portfolio), :id => 'rebalance-btn' do %>
      <button class="btn trigger helper5 btn-success" id="rebalance-btn"> Rebalance</button>
    <% end %>

    <%= link_to create_positions_path(@portfolio), class:"refresh" do %>
      <i class="refresh helper6 fas fa-sync-alt"></i>
    <% end %>
    <%= form_tag sell_positions_path(@portfolio), :id => 'sell' do %>
      <button class="helper7 btn trigger btn-danger" id="sell-btn"> Panic Sell</button>
    <% end %>
  </div>
</div>


<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">

      <!-- coin cards -->
      <%= render "shared/position" %>
    </div>
    <div class="col-md-6 text-center pt-3">
      <!-- charts -->
      <div class="chart-holder">
        <div id="chart_div"></div>
      </div>
    </div>
  </div>
</div>




<% json_positions = @positions.as_json %>
<% json_coins = @coins.as_json %>
<script>
  var json_positions = '<%= raw json_positions.to_json %>';
  var json_coins = '<%= raw json_coins.to_json %>';
  var positions = JSON.parse(json_positions);
  var coins = JSON.parse(json_coins);
  var priceChanges = [];
</script>

