<h1>Portfolios#show</h1>
<p>Find me in app/views/portfolios/show.html.erb</p>

<h2>Current Value: <%= @portfolio.current_value %></h2>

<ul>
  <%= form_tag create_positions_path(@portfolio) do %>
    <%= submit_tag 'Update Positions', class: 'btn btn-primary' %>
  <% end %>
</ul>

<ul>
  <% @portfolio.positions.each do |position| %>
    <li><%= position.current_quantity %> <%= position.current_value %></li>
  <% end %>
</ul>

<ul>
  <%= form_tag rebalance_positions_path(@portfolio) do %>
    <%= submit_tag 'Rebalance Positions', class: 'btn btn-primary' %>
  <% end %>
</ul>


<a href="/portfolios/1/create_positions" method="post">/portfolios/1/create_positions</a>


<a href="/portfolios/1/check_base_ccy" method="post">/
portfolios/1/check_base_ccy</a>
