<div class="container">
  <h1>Portfolio<small> for <%= current_user.email %></small></h1>
  <div class="row">
    <div class="col-6">
      <%= form_tag create_positions_path(@portfolio) do %>
        <%= submit_tag 'Update Positions', class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="col-6 text-right">
      <% btc_price = Coin.find_by(symbol: 'BTC').usdt_price %>
      <h2>BTC <%= @portfolio.current_value %></h2>
      <h2>Total value <%= number_to_currency(@portfolio.current_value * btc_price) unless @portfolio.current_value.nil? %></h2>
    </div>
  </div>

  <table class="table table-responsive w-auto table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Coin</th>
        <th scope="col">Amount</th>
        <th scope="col">Value (BTC)</th>
        <th scope="col">Value (USD)</th>
        <th scope="col">Current</th>
        <th scope="col">Target</th>
      </tr>
    </thead>
    <tbody>
      <% @positions.each_with_index do |position, index| %>
      <% coin = position.coin %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= coin.name %></td>
          <td><%= position.current_quantity %></td>
          <td><%= position.current_quantity * coin.btc_price %></td>
          <td><%= position.current_quantity * coin.usdt_price %></td>
          <td><%= (((position.current_quantity * coin.usdt_price)/(@portfolio.current_value * btc_price))*100) %>%</td>
          <td><%= @allocations.find{|a| a[:coin_id] == coin.id}.allocation_pct %>%</td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div id="chart_div"></div>

  <% json_positions = @positions.as_json %>
  <% json_coins = @coins.as_json %>

  <script>
    var json_positions = '<%= raw json_positions.to_json %>';
    var json_coins = '<%= raw json_coins.to_json %>';
    var positions = JSON.parse(json_positions);
    var coins = JSON.parse(json_coins);
  </script>


</div>
