<%= simple_fields_for :allocations do |p| %>

  <div class="form-group">
    <div class="container helper2">
      <div class="row justify-content-center coin-container" id="listener">
        <% @coins = ['Bitcoin','Ethereum','Ripple','Bitcoin-Cash','Litecoin','EOS','Cardano','Tron','Stellar','Zcash'] %>
        <% @coins.each do |currency| %>
          <% coin = Coin.find_by(name: currency) %>
          <% allocation = @portfolio.allocations.find_by(coin_id: coin.id) %>
          <% default_value = allocation.nil? ? nil : allocation.allocation_pct %>
        <div class="col text-center allo-col">
          <div class="allo-card">
            <div class="allo-title" style="border-bottom: 2px solid <%= coin.color %>;">
              <%= image_tag "#{coin.image}", alt: "#{currency}" %>
              <%= p.label "#{currency} ", class: "input-control col-form-label" %>
            </div>
            <div class="allo-content" style="background-color: <%= coin.color %>;border-radius: 20px;">

              <%= p.number_field "crypto[#{currency}]", value: default_value, min: 0, max: 100, class: 'form-control num_input', onfocus: "this.oldvalue = this.value;", onchange: "onChangeTest(this);this.oldvalue = this.value;" %>
            </div>
          </div>

          <!-- <input type="number" name="crypto[<%#= currency %>]" value="0" class= "form-control num_input" id="<%#= currency %>"> -->
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>



<script>
  var sum = 0;
  var dataHash = {};
  var dataArray = [];
</script>

<!-- Page loads: show chart with labels but zero values -->
<!-- Everytime user enters a value in input, the chart updates with the new value -->
