

      <%= simple_form_for [@portfolio, @allocation] do |f| %>

        <% if @allocation.errors.any? %>
          <div class="errors-container">
            <ul>
              <% @allocation.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <div class="row justify-content-center">
            <% ['Bitcoin','Ethereum','Ripple','Bitcoin-Cash','Litecoin','EOS','Cardano','Tron','Stellar','Zcash'].each do |currency| %>
            <div class="col-lg-4 col-md-6 text-center">
              <%= f.label "#{currency} ", class: "input-control col-form-label" %>
              <input type="number", name="crypto[<%= currency %>]", class= "form-control num_input">
            </div>
            <% end %>
          </div>
          <%= f.submit "Submit", class: "btn btn-primary mt-4 w-100" %>
        </div>

      <% end %>
