<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>

<p>MAKE A TRADE TO BUY 100 XLM FOR ETH AT MARKET PRICE</p>
<%= link_to "Trade", orders_create_path, class:"btn btn-primary", method:'post'  %>

<br>
<% @BatTrades.each do |trade| %>
  <ul>
    <li><%= trade[:symbol] %></li>
    <li><%= trade[:orderId] %></li>
    <li><%= trade[:price] %></li>
    <li><%= trade[:status] %></li>
    <li><%= trade[:type] %></li>
    <li><%= trade[:executedQty] %></li>
    <li><%= trade[:cummulativeQuoteQty] %></li>
  </ul>
<% end %>
<br>
<% @XlmTrades.each do |trade| %>
  <ul>
    <li><%= trade[:symbol] %></li>
    <li><%= trade[:orderId] %></li>
    <li><%= trade[:price] %></li>
    <li><%= trade[:status] %></li>
    <li><%= trade[:type] %></li>
    <li><%= trade[:executedQty] %></li>
    <li><%= trade[:cummulativeQuoteQty] %></li>
  </ul>
<% end %>
