<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>

<p>MAKE A TRADE TO BUY 100 XLM FOR ETH AT MARKET PRICE</p>
<%= link_to "Trade", orders_create_path, class:"btn btn-primary", method:'post'  %>

<br>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
<% @BatTrades.each do |trade| %>
  <ul>
    <li><%= trade[:symbol] %></li>
    <li><%= trade[:orderId] %></li>
    <li><%= trade[:price] %></li>
    <li><%= trade[:status] %></li>
    <li><%= trade[:type] %></li>
    <li><%= trade[:executedQty] %></li>
    <li><%= trade[:cummulativeQuoteQty] %></li>
  </ul>
<% end %>
<br>
<% @XlmTrades.each do |trade| %>
  <ul>
    <li><%= trade[:symbol] %></li>
    <li><%= trade[:orderId] %></li>
    <li><%= trade[:price] %></li>
    <li><%= trade[:status] %></li>
    <li><%= trade[:type] %></li>
    <li><%= trade[:executedQty] %></li>
    <li><%= trade[:cummulativeQuoteQty] %></li>
  </ul>
<% end %>


