<div class="header container-fluid">
  <div class="row">
    <div class="col">
      <div class="price-container text-center justify-content-center">
        <h5>Transactions</h5>
      </div>
    </div>
  </div>
<div class="container">
  <div class="card-container" id="target">
    <% all_orders = Order.all %>
    <% @transactions = all_orders.sort_by(&:transact_time).group_by(&:transaction_id) %>
    <% @transactions.each_with_index do |transaction, index| %>
      <div class="card-product" data-toggle="collapse" data-parent="#target" href="#collapse<%= index + 1 %>">
        <% if transaction.last.first[:description] == 'Rebalance' %>
          <% color = 'green' %>
        <% else %>
          <% color = 'red' %>
        <% end %>
        <div class="position-card" style="border-left: 15px solid <%= color %>;">
          <span>
            <%= Time.at(transaction.last.first[:transact_time].to_i / 1000).to_datetime.strftime(" %b %d, %Y %l:%M %p") %>
          </span>
          <p><%= transaction.last.first[:description] %></p>
        </div>
      </div>
      <div id="collapse<%= index+1 %>" class="panel-collapse collapse">
        <div>
          <div class="card-container">
            <div class="position-card" style="border-left: 15px solid <%= color %>;">
              <div class="card-product p-3">
                <div class="row">
                  <div class="col justify-between">
                    <table class="table table-borderless">
                      <thead>
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">Symbol</th>
                          <th scope="col">Side</th>
                          <th scope="col">Quantity</th>
                          <th scope="col">Base Coin</th>
                          <th scope="col">Price</th>
                          <th scope="col">Target Coin</th>
                          <th scope="col">Commission</th>
                          <th scope="col">Commission Asset</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% transaction.last.each do |order| %>
                            <% @coin_base = Coin.find(order[:base_coin_id]).symbol %>
                            <% @coin_base_image = Coin.find(order[:base_coin_id]).image %>
                            <% @coin_target = Coin.find(order[:target_coin_id]).symbol %>
                                <tr>
                                  <td><%= image_tag @coin_base_image, alt: "#{@coin_base}" %></td>
                                  <td><%= "#{@coin_base}#{@coin_target}" %></td>
                                  <td><%= order[:side] %></td>
                                  <td><%= "%f" % order[:quantity] %></td>
                                  <td><%= @coin_base %></td>
                                  <td><%= "%f" % order[:price] %></td>
                                  <td><%= @coin_target %></td>
                                  <td><%= "%f" % order[:commission] %></td>
                                  <td><%= order[:commission_asset] %></td>

                                </tr>

                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
